
:root {font: 20px/1.2 "Roboto",sans-serif;}



.navbar{
    margin: auto;
    width: 100%;
    padding: 10px;
}

hr
{
    width: 100%;
    background-color: white;
}

section
{
    margin: auto;
    width: 70%;
}

iframe
{
    width: 80%;
    height: 300px;
}

p
{
    font-size: 14px;
}
